<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>welcome</title>
</head>
<body>
  <h1><%= title %></h1>
  <div><span><%=userInfo.name %></span>님 환영합니다</div>
  <div><span><%=userInfo.gen.man%></span>님 환영합니다</div>
  <div><span><%=userInfo.birth %></span>님 환영합니다</div>
  <div><span><%=userInfo.int %></span>님 환영합니다</div>
</body>
</html>